body {
  background-color: hsl(0,0%,96%);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  color: hsl(0, 30%, 89%);
  font-size: 100px;
  font-weight: 100;
  line-height: 20px;
}

#todoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#todoFormWrapper {
 display: flex;
 justify-content: center;
 width: 100%;

}

#firstLabel {
  background-image: url(./image/down-arrow.svg);
  background-repeat: no-repeat;
  width: 5%;
  background-color: hsl(0, 0%, 100%);
  background-size: 45% 100%;
  background-position: 15px;
  color: hsl(0,0%,30%);
  box-shadow: 4px 8px 5px rgba(0,0,0,0.23);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: hsl(0,0%,88%);
  font-style: italic;
  text-align: left;

}

::-moz-placeholder { /* Firefox 19+ */
  color: hsl(0,0%,88%);
  font-style: italic;
  text-align: left;
}

:-ms-input-placeholder { /* IE 10+ */
  color: hsl(0,0%,88%);
  font-style: italic;
  text-align: left;
}

:-moz-placeholder { /* Firefox 18- */
  color: hsl(0,0%,88%);
  font-style: italic;
  text-align: left;
}

#firstInput {
  width: 45%;
  padding: 16px 16px 16px 60px;
  border: none;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 4px 8px 5px rgba(0,0,0,0.23);
  color: hsl(0,0%,30%);
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
}



#footerPage {
  margin: 65px auto 0;
  color: hsl(0,0%,75%);
  font-size: 10px;
}

.footerPageText {
  text-align: center;
}